.todo_wrapper {
  padding: 32px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo_item_wrapper {
  width: 100%;
}

.todo_item {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  background-color: white;
}

.todo_item i {
  font-style: normal;
}

.todo_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 26px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.todo_checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.todo_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.todo_checkbox:hover input[type="checkbox"] ~ .todo_checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.todo_checkbox input[type="checkbox"]:checked ~ .todo_checkmark {
  background-color: #2196f3;
}

.todo_form_wrapper {
  display: flex;
  width: 100%;
}

.todo_form_wrapper input[type="text"] {
  width: 100%;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  background-color: white;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.todo_form_wrapper button,
.todo_clear {
  padding: 18px;
  font-size: 14px;
  border: 1px solid #3751ff;
  border-radius: 8px;
  color: #3751ff;
  background-color: white;
  cursor: pointer;
}

.todo_clear {
  margin-top: 16px;
}

.linethrough {
  text-decoration: line-through;
}
