* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #363740;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub {
  color: #a4a6b3;
}
