@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");

.login {
  width: 380px;
  height: 100%;
  padding: 32px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mulish";
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  background-color: white;
  letter-spacing: 1px;
}

.login ul {
  list-style: none;
}

.login h2 {
  font-size: 24px;
  color: #252733;
}

.login h3 {
  font-size: 19px;
}

.login h4 {
  font-size: 14px;
}

.login p {
  font-size: 14px;
  color: #a4a6b3;
}

.login p a {
  text-decoration: none;
  color: #3751ff;
}

.login .fields {
  width: 100%;
}

.login .fields .field:not(:last-child) {
  margin-bottom: 24px;
}

.login .fields .field span {
  font-size: 12px;
  font-weight: 700;
  color: #a4a6b3;
  text-transform: uppercase;
}

.login .fields .field .label {
  display: flex;
  justify-content: space-between;
}

.login .fields .field .label a {
  font-size: 10px;
  text-decoration: none;
}

.login .fields .field input[type="text"],
.login .fields .field input[type="password"] {
  display: block;
  width: 100%;
  height: 42px;
  padding-left: 14px;
  font-family: "Mulish";
  border: 1px solid #f0f1f7;
  border-radius: 8px;
  color: #4b506d;
  background-color: #fcfdfe;
}

.login .fields .field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login .fields .field p {
  font-size: 10px;
  font-weight: 400;
  font-family: "Mulish";
}

.login button {
  width: 100%;
  height: 48px;
  font-family: "Mulish";
  font-weight: 600;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #3751ff;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.login button:hover {
  background-color: rgb(37, 20, 197);
}

.input {
  position: relative;
  margin-top: 6px;
}

.inner-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.title h2,
.header svg {
  margin-bottom: 12px;
}

.header,
.login button {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 48px;
}
